<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        table,
        th,
        td {
            border: 1px solid #000;
            border-collapse: collapse;
        }
        thead{
            font-size:18px;
            font-weight:600;
        }
    </style>
</head>
<body>
<div id="container">
    <button>添加</button>
    <table>
        <thead>
        <tr>
            <td></td>
            <td>商品图片</td>
            <td>商品信息</td>
            <td>赠送</td>
            <td>商品金额</td>
            <td>商品数量</td>
            <td>总金额</td>
            <td>编辑</td>
        </tr>
        </thead>
        <tbody>
            <tr v-for="obj in proList">
                    <td>
                        <input type="checkbox" v-model="checkPro" :value="obj">
                    </td>
                    <td>
                        <img :src="obj.productImg" alt="" width="100">
                    </td>
                    <td>{{obj.productName}}</td>
                    <td>
                        <ul>
                            <li v-for="obj1 in obj.parts">{{obj1.partsName}}</li>
                        </ul>
                    </td>
                    <td class="price">{{obj.productPrice}}</td>
                    <td>
                        <button class="sub" @click="sub(obj)">-</button>
                        <input type="text" :value="obj.productQuentity">
                        <button class="add" @click="obj.productQuentity++">+</button>
                    </td>
                    <td class="total-price">{{obj.productPrice*obj.productQuentity}}</td>
                    <td>
                        <a href="javascript:;"  @click="del(idx,obj)">删除</a>
                    </td>
            </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                </td>
                <td>
                    总计：
                    <span id="total">{{total}}</span>
                </td>
                <td>
                    <button>结账</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script src="../vue.js"></script>
<script src="axios.min.js"></script>
<script>
    var vm = new Vue({
        el:"#container",
        data:{
            proList:[],
            checkPro:[]
        },
        methods:{
            sub(obj){
                if(obj.productQuentity>0){
                    obj.productQuentity--;
                }
            },
            del(idx,obj){
                this.proList.splice(idx,1);
                this.checkPro.splice(this.checkPro.indexOf(obj),1);
            }
        },
        computed:{
            total:function(){
                var sum = 0;
                for(var i=0;i<this.checkPro.length;i++){
                    sum += this.checkPro[i].productQuentity*this.checkPro[i].productPrice;
                }
                return sum;
            }
        },
        beforeCreate:function(){
            axios.get('cart.json').then((res) => {
                this.proList = res.data.result.productList;
            });
        }
    });
</script>
</body>
</html>